:root {
  font-family: 'Inter', sans-serif;
  color: $_main_color;
  background: $_main_bg_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  max-width: 375px;
  padding-right: 16px;
  padding-left: 16px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
    padding-right: 64px;
    padding-left: 64px;
  }
}

.section-title {
  background: #adb9b0;
  border-radius: 50px;
  padding: 6px 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  color: #161616;
  max-width: max-content;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.section-subtitle {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #161616;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 42px;
  }
}

.section {
  scroll-margin-top: 52px;

  @include media(desktop) {
    scroll-margin-top: 62px;
  }
}
