.about-section {
  @include media(desktop) {
  }
}

.about-bg-wrapper {
  padding-top: 80px;
  padding-bottom: 64px;

  @include media(desktop) {
    padding-top: 120px;
    padding-bottom: 80px;
  }
}

.about-container {
  @include media(desktop) {
  }
}

.about-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
    flex-direction: row-reverse;
    justify-content: center;
    gap: 88px;
  }
}

.about-title {
  @include media(desktop) {
  }
}

.about-subtitle {
  @include media(desktop) {
  }
}

.about-text-wrapper {
  @include media(desktop) {
    max-width: 584px;
  }
}

.about-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #737373;

  @include media(desktop) {
    font-size: 18px;
  }
}

.about-top-text {
  margin-bottom: 8px;

  @include media(desktop) {
  }
}

.about-bottom-text {
  @include media(desktop) {
  }
}

.about-text-span {
  font-weight: 600;
}

.about-img {
  @include media(desktop) {
    min-width: 640px;
  }
}
