.contact-section {
  padding-top: 64px;
  padding-bottom: 80px;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 120px;
  }
}

.contact-content-wrapper {
  background: linear-gradient(180deg, #a0daf0 0%, #0eaeea 100%);
  border-radius: 36px;
  padding: 64px 16px;

  @include media(desktop) {
  }
}

.contact-container {
  @include media(desktop) {
  }
}

.contact-title {
  text-align: center;

  @include media(desktop) {
  }
}

.contact-subtitle {
  text-align: center;
  margin-bottom: 24px;

  @include media(desktop) {
    margin-bottom: 48px;
  }
}

.contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0040ff;
  word-break: break-all;
  margin-bottom: 8px;

  @include media(desktop) {
    font-size: 32px;
  }
}

.arrow-icon {
  min-width: 32px;

  @include media(desktop) {
    min-width: 40px;
    width: 40px;
    height: 40px;
  }
}

.contact-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #fff;
  text-align: center;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 18px;
    margin-bottom: 48px;
  }
}

.contact-btn {
  max-width: 311px;

  @include media(desktop) {
    max-width: 240px;
  }
}
