.experience-section {
}

.experience-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
  }
}

.experience-container {
  @include media(desktop) {
  }
}

.experience-title {
  @include media(desktop) {
  }
}

.experience-subtitle {
  @include media(desktop) {
  }
}

.experience-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #6d6d6d;
  margin-bottom: 48px;

  @include media(desktop) {
    font-size: 18px;
    max-width: 640px;
    margin-bottom: 64px;
  }
}

.experience-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 32px;
  }
}

.experience-list-item {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 100%;
  max-width: 304px;

  @include media(desktop) {
    max-width: 304px;
  }
}

.experience-img {
  @include media(desktop) {
  }
}

.experience-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
  color: #4d5a5e;

  @include media(desktop) {
    font-size: 20px;
  }
}
