.faq-section {
  padding-top: 64px;
  padding-bottom: 64px;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.faq-container {
  @include media(desktop) {
  }
}

.faq-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    gap: 88px;
  }
}

.faq-text-wrapper {
  @include media(desktop) {
    max-width: 750px;
  }
}

.faq-title {
  @include media(desktop) {
  }
}

.faq-subtitle {
  margin-bottom: 48px;

  @include media(desktop) {
    margin-bottom: 64px;
  }
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(desktop) {
  }
}

.faq-list-item {
  background: #edf4f5;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-width: 343px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease-in-out;

  @include media(desktop) {
    max-width: 750px;
  }
}

.faq-top-text-btn {
  display: flex;
  align-items: center;
  width: 100%;

  @include media(desktop) {
  }
}

.faq-btn-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  color: #313131;
  text-align: left;

  @include media(desktop) {
    font-size: 18px;
  }
}

.faq-toggle-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  height: 24px;
  margin-left: auto;
  transition: transform 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.faq-icon {
  @include media(desktop) {
  }
}

.faq-bottom-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #737373;
  max-width: 287px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  opacity: 0;

  @include media(desktop) {
    font-size: 18px;
    max-width: 694px;
  }
}

.is-visible {
  margin-top: 16px;
  max-height: 500px;
  opacity: 1;

  @include media(desktop) {
  }
}

.faq-list-item.faq-open .faq-toggle-symbol {
  transform: rotate(180deg);
}

.faq-list-item.faq-open {
}

.faq-list-item.faq-open .faq-btn-text {
}

.faq-img {
  box-shadow: 4px 4px 20px 0 rgba(142, 142, 142, 0.25);
  border: 8px solid #fff;
  border-radius: 36px;
}
