.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 419px;
  padding-bottom: 32px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 223px;
    padding-bottom: 161px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-content-wrapper {
  @include media(desktop) {
    max-width: 600px;
    margin-left: auto;
  }
}

.hero-main-title {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 62px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(145deg, #68b129 0%, #1a6e14 42.24%, #15a214 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 112px;
    line-height: 1;
  }
}

.hero-text {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
  color: #adb9b0;
  margin-bottom: 40px;

  @include media(desktop) {
    font-size: 18px;
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fcff45;
  border-radius: 50px;
  padding: 12px 20px;
  width: 100%;
  max-width: 343px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  transition: background 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background: #161616;

    .her-btn-top-text {
      color: #ebebeb;
    }

    .her-btn-bottom-text {
      color: #ebebeb;
    }
  }

  @include media(desktop) {
    max-width: 220px;
  }
}

.hero-btn-text-wrapper {
  @include media(desktop) {
  }
}

.her-btn-top-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  margin-bottom: 4px;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.her-btn-bottom-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #000;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
  }
}
