.progression-section {
  @include media(desktop) {
  }
}

.progression-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.progression-container {
  @include media(desktop) {
  }
}

.progression-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
    flex-direction: row-reverse;
    justify-content: center;
    gap: 88px;
  }
}

.progression-title {
  @include media(desktop) {
  }
}

.progression-subtitle {
  @include media(desktop) {
  }
}

.progression-text-wrapper {
  @include media(desktop) {
    max-width: 584px;
  }
}

.progression-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #737373;

  @include media(desktop) {
    font-size: 18px;
  }
}

.progression-img {
  @include media(desktop) {
    min-width: 640px;
  }
}
