.progression-section {
  @include media(desktop) {
  }
}

.progression-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.progression-container {
  @include media(desktop) {
  }
}

.progression-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    gap: 64px;
  }
}

.progression-title {
  @include media(desktop) {
  }
}

.progression-subtitle {
  @include media(desktop) {
  }
}

.progression-text-wrapper {
  @include media(desktop) {
    max-width: 640px;
  }
}

.progression-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #6d6d6d;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 18px;
  }
}

.progression-bottom-text {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  color: #6d6d6d;

  @include media(desktop) {
    font-size: 20px;
  }
}

.progression-img {
  @include media(desktop) {
    min-width: 554px;
  }
}
