<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <div class="about-text-wrapper">
          <h2 class="section-title about-title">• About The Game</h2>
          <p class="section-subtitle about-subtitle">What Is Love Cruise</p>
          <p class="about-text about-top-text">
            <span class="about-text-span">Love Cruise: Match 3 Puzzle</span> is
            a classic match-3 game wrapped in a romantic, story-driven
            experience.<br />
            Players follow a cast of characters aboard a luxury cruise ship,
            where relationships evolve, tensions rise, and every choice matters.
          </p>
          <p class="about-text about-bottom-text">
            Each completed puzzle unlocks new story moments — from heartfelt
            conversations to unexpected twists — revealing what really happens
            behind the polished cruise lifestyle.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/about/about-img-desk.png"
            media="(min-width: 1440px)"
            width="640"
            height="492" />
          <source
            srcset="./img/about/about-img-mob.png"
            width="343"
            height="264" />
          <img
            class="about-img"
            src="./img/about/about-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="264"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
