<section class="section boosters-section" id="boosters">
  <div class="boosters-bg-wrapper">
    <div class="container boosters-container">
      <div class="boosters-content-wrapper">
        <div class="boosters-text-wrapper">
          <h2 class="section-title boosters-title">• Boosters</h2>
          <p class="section-subtitle boosters-subtitle">
            Smart Tools for Tricky Moments
          </p>
          <p class="boosters-text">
            You’ll earn boosters naturally through play — and trust us, saving
            them for those “okay this level hates me” moments is a very good
            idea.
          </p>
        </div>
        <ul class="boosters-list">
          <li class="boosters-list-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="boosters-item-text">
              Line-clearing and area-effect power-ups
            </p>
          </li>
          <li class="boosters-list-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="boosters-item-text">
              Combo mechanics triggered by smart matches
            </p>
          </li>
          <li class="boosters-list-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="boosters-item-text">
              Strategic tools for tricky puzzle layouts
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
