<section class="section experience-section" id="experience">
  <div class="experience-bg-wrapper">
    <div class="container experience-container">
      <h2 class="section-title experience-title">Player Experience</h2>
      <p class="section-subtitle experience-subtitle">play at your own pace</p>
      <p class="experience-text">
        If you want a puzzle game that won't give you anxiety attacks but still
        makes you actually use your brain, you've found your new obsession.
      </p>
      <ul class="experience-list">
        <li class="experience-list-item">
          <img
            class="experience-img"
            src="./img/experience/experience-img1.png"
            alt="Screenshot of the game"
            width="120"
            height="120"
            loading="lazy"
          />
          <p class="experience-item-text">Easy to learn for beginners</p>
        </li>
        <li class="experience-list-item">
          <img
            class="experience-img"
            src="./img/experience/experience-img2.png"
            alt="Screenshot of the game"
            width="120"
            height="120"
            loading="lazy"
          />
          <p class="experience-item-text">Gradual difficulty curve</p>
        </li>
        <li class="experience-list-item">
          <img
            class="experience-img"
            src="./img/experience/experience-img3.png"
            alt="Screenshot of the game"
            width="120"
            height="120"
            loading="lazy"
          />
          <p class="experience-item-text">No need for fast reflexes</p>
        </li>
        <li class="experience-list-item">
          <img
            class="experience-img"
            src="./img/experience/experience-img4.png"
            alt="Screenshot of the game"
            width="120"
            height="120"
            loading="lazy"
          />
          <p class="experience-item-text">
            Designed for thoughtful, casual puzzle play
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
