<section class="section play-section" id="play">
  <div class="play-bg-wrapper">
    <div class="container play-container">
      <h2 class="section-title play-title">How To Play</h2>
      <p class="section-subtitle play-subtitle">CORE GAMEPLAY</p>
      <p class="play-text">
        It starts off pretty simple (I mean, anyone can match three gems,
        right?), but don't worry - it definitely gets more challenging as you
        progress.
      </p>
      <ul class="play-list">
        <li class="play-list-item">
          <div class="play-item-img-wrapper">
            <svg class="play-icon" width="96" height="96">
              <use href="./img/sprite.svg#icon-play1"></use>
            </svg>
          </div>
          <p class="play-item-text">
            Match three or more gems to clear them from the board
          </p>
        </li>
        <li class="play-list-item">
          <div class="play-item-img-wrapper">
            <svg class="play-icon" width="96" height="96">
              <use href="./img/sprite.svg#icon-play2"></use>
            </svg>
          </div>
          <p class="play-item-text">
            Complete level objectives using limited moves
          </p>
        </li>
        <li class="play-list-item">
          <div class="play-item-img-wrapper">
            <svg class="play-icon" width="96" height="96">
              <use href="./img/sprite.svg#icon-play3"></use>
            </svg>
          </div>
          <p class="play-item-text">
            Deal with tricky blocked tiles and those annoying multi-layered
            pieces
          </p>
        </li>
        <li class="play-list-item">
          <div class="play-item-img-wrapper">
            <svg class="play-icon" width="96" height="96">
              <use href="./img/sprite.svg#icon-play4"></use>
            </svg>
          </div>
          <p class="play-item-text">
            Create powerful combos to clear large sections at once
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
