<section class="section progression-section" id="progression">
  <div class="progression-bg-wrapper">
    <div class="container progression-container">
      <div class="progression-content-wrapper">
        <div class="progression-text-wrapper">
          <h2 class="section-title progression-title">• PROGRESSION</h2>
          <p class="section-subtitle progression-subtitle">
            life unfolds between levels
          </p>
          <p class="progression-text">
            Levels in Love Cruise unfold through story-driven chapters,
            revealing new cruise locations and characters along the way. Short
            story scenes appear between puzzles, keeping the game relaxing yet
            engaging — perfect for a quick break or a “just one more level”
            night.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/progression/progression-img-desk.png"
            media="(min-width: 1440px)"
            width="640"
            height="492" />
          <source
            srcset="./img/progression/progression-img-mob.png"
            width="343"
            height="264" />
          <img
            class="progression-img"
            src="./img/progression/progression-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="264"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
